go 1.21.1

use (
	./creational/abstract-factory
	./creational/builder
	./creational/factory-method
	./creational/prototype
	./creational/singleton
	./structural/adapter
	./structural/bridge
	./structural/composite
	./structural/decorator
	./structural/facade
	./structural/flyweight
	./structural/proxy
	./behavioral/chain-of-responsibility
	./behavioral/command
	./behavioral/interpreter
	./behavioral/iterator

)
